#header {
  padding: 20px;
  box-shadow: 2px 1px 5px #888888;
}
#title {
  color: #d32f2f;
  font-size: 40px;
  font-weight: bold;
}
#result-title {
  color: #388e3c;
  font-size: 40px;
  font-weight: bold;
}
#title img {
  height: 50px;
}
#result-title img {
  height: 50px;
}
#subtitle {
  font-size: 18px;
}
#user-image {
  float: right;
  display: none;
  margin-right: 40px;
}
#welcome-user {
  float: right;
}