#login-form {
  min-width: 300px;
  position: fixed;
  width: 25%;
  left: 34%;
  bottom: 70px;
  color: #d32f2f;
  border-radius: 2px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 0px 4px #888888;
  background: #fafafa;
}
#login-form button {
  float: right;
}
#login-form table {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.input-box {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #d32f2f;
  margin-bottom: 30px;
  background: #fafafa;
}
